<div class="col-xs-12" id="steam_app">

	<p>When this is finished it will use the Steam API to generate a badge. Enter your steam id (a digit like 76561197996470719) to call a list of images of your most recently played games</p>

		<input ng-model="steam_user_id" type="text">
		<a class="btn btn-primary" ng-click="steamUser()">CLICK</a>

	<div ng-repeat="game in user_details.play_history.games">
		<img src="{{game.img_icon_url}}"></img>
		<img src="{{game.img_logo_url}}"></img>
	</div>

		<div ng-if="user_details.avatar">
			<img src="{{user_details.avatar}}"></img>
		</div>
</div>

